{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}
{% block main %}
    <form method="POST">
        <div class="form-group">
            <label for="symbol">Symbol</label>
            <select class="form-control" id="symbol" name="symbol">
                {% for name in names %}
                    <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
        <input class="form-control" type="number" name="shares" min=1 placeholder="Quantity to sell" required/>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}